body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px
}
.color{
    color: darkgoldenrod;
}
section{
    display: flex;
}
.detail .picture{
    width: 50%;
    padding-left: 10%;
}
.detail input{
    padding: 8px 20px;
    background-image:linear-gradient(white, blue) ;
    outline: none;
    color: white;
    border: 1px solid #8393ff;
    font-size: 15px
}
.detail input:hover{
    box-shadow: 5px 10px 30px rgb(130,147,255, 0.5);
    transition: all 0.5s ease-in 0.25s;
    outline: none;
.picture img{
    width: 50px;
    padding-left: 30px;


}